body {
    background-color: lightslategray;
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.navbar {
    z-index: 10000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80vw;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;;
}
.logo-container {
    width: 20vw;
    height: 20vw;
    display: block;
    overflow: hidden;
    align-self: start;
    background-image: url(mainlogo.png);
    background-position: 50% 50%;
    background-size: 135%;
}
h1 {
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 140%;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
}

#mapid {
    position: absolute;
    height:100vh;
    width:100vw;
}
.leaflet-top {
    margin-top: 125px;
}
.leaflet-right {
    display: none;
}
.leaflet-marker-icon {
    border-radius: 10%;
    border: 2px white solid;
    box-shadow: 1px 1px 2px gray;
}
.map-pin {
    border: none;
    box-shadow: none;
}
img, video {
    max-width: 50vw!important;
    overflow:auto!important;
}
.leaflet-popup-content {
    width: auto!important;
}
.popupImage {
    width: 500px;
}
.route-title {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.route-details {
    white-space: nowrap;
    display:inline-block;
    padding:0px 15px 15px 15px;
    margin: 0px!important;
}
details {
    text-align: center;
}
summary {
    display: inline-block!important;
    font-weight: bold;
    border: 1px black solid;
    width: 100px;
}
details summary::-webkit-details-marker {
  display:none;
}
iframe {
    max-width: 75vw !important;
    margin-top: 10px;
}