{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<script src="{% static 'leaflet/gpx.min.js' %}"></script>
{% endblock %}
{% block content %}
<div id="mapid"></div>
<nav class="navbar">
    <div class="logo-container"></div>
    <h1>VXX Cycling Journeys</h1>
    <ul class="routes">
      <li class="route-year">
        <a class="route-year-link" href="#">2016</a>
        <div class="route-year-menu">
            {% for year, day, url, title, journal in routes_2016 %}
            <a class="route-menu-item" href="#" name="{{ url }}">Day: {{ day }}</a>
            <script>
                window["route{{year}}{{day}}"] = "{{title}}";
                window["route{{year}}{{day}}-text"] = '{{journal|safe}}';
            </script>
            {% endfor %}
        </div>
      </li>
      <li class="route-year">
        <a class="route-year-link" href="#">2020</a>
        <div class="route-year-menu">
          {% for year, day, url, title, journal in routes_2020 %}
          <a class="route-menu-item" href="#" name="{{ url }}">Day: {{ day }}</a>
          <script>
              window["route{{year}}{{day}}"] = "{{title}}";
              window["route{{year}}{{day}}-text"] = '{{journal|safe}}';
          </script>
          {% endfor %}
      </div>
    </li>
  </ul>
</nav>
<script>
    var json_stuff = {{ posts|safe }}
</script>
<script src="{% static 'main.js' %}"></script>
{% endblock %}
