{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<script src="{% static 'leaflet/gpx.min.js' %}"></script>
{% endblock %}
{% block content %}
<header>
  <h1>Vòng Xe Xanh</h1>
  <p>vegan bicycle journeys through Vietnam</p>
  <small>© 2021 Andrew Marvin</small>
</header>
<div id="mapid"></div>
<aside class="navbar">
    <div class="logo-container"></div>
    <div class="route-section">
      <h2>Explore Routes</h2>
      <ul class="routes">
        <li class="route-year">
          <a class="route-year-link route-year-link-active" href="#">2020</a>
          <ul class="route-year-menu route-year-menu-visible">
            <span class="route-year-menu-mobile-expand">&nbsp;&#x25BC;</span>
            {% for year, day, url, title, journal in routes_2020 %}
            <li class="route-menu-item"><a href="#" data-day="{{day}}" name="{{ url }}">{{title}}</a></li>
            <script>
                window["route{{year}}{{day}}"] = "{{title}}";
                window["route{{year}}{{day}}-text"] = '{{journal|safe}}';
            </script>
            {% endfor %}
          </ul>
        </li>
        <li class="route-year">
          <a class="route-year-link" href="#">2016</a>
          <ul class="route-year-menu">
            <span class="route-year-menu-mobile-expand">&#x25BC;</span>
              {% for year, day, url, title, journal in routes_2016 %}
              <li class="route-menu-item"><a href="#" data-day="{{day}}" name="{{ url }}">{{title}}</a></li>
              <script>
                  window["route{{year}}{{day}}"] = "{{title}}";
                  window["route{{year}}{{day}}-text"] = '{{journal|safe}}';
              </script>
              {% endfor %}
          </ul>
        </li>
    </ul>
  </div>
  <div class="map-options">
    <h2>Filter Posts</h2>
    <div class="checkbox-group">
      <input type="checkbox" name="checkbox-2020" id="checkbox-2020">
      <label for="checkbox-2020">2020 Journey</label>
    </div>
    <div class="checkbox-group">
      <input type="checkbox" name="checkbox-2016" id="checkbox-2016">
      <label for="checkbox-2016">2016 Journey</label>
    </div>
    <div class="checkbox-group">
      <input type="checkbox" name="checkbox-others" id="checkbox-others">
      <label for="checkbox-2020">Others</label>
    </div>
  </div>
  <div class="social">
    <a href="https://www.facebook.com/VongXeXanh" target="_blank"><img src="{% static 'facebook.svg' %}" alt="facebook social link" class="social-icon"></a>
    <a href="https://www.instagram.com/vong_xe_xanh/" target="_blank"><img src="{% static 'instagram.svg' %}" alt="instagram social link" class="social-icon"></a>
  </div>
</aside>
<script>
    var json_stuff = {{ posts|safe }}
</script>
<script src="{% static 'main.js' %}"></script>
{% endblock %}
